.wd-search-area{
    width: 400px;
    background-color: black;
    color: white;
}
.wd-img-text-setting{
    color: white;
    font-size: 80px;
}
.wd-content-margin{
    margin-left: 16px;
}
.wd-button-radius{
    border-radius: 20px;
}
.wd-gear{
    float: left;
}
.wd-hyperlink-highlighted{
    color: rgb(29,161,242);
    border-style: solid;
    border-width: 2px;
    border-bottom-color: rgb(29,161,242);
    border-top-color: black;
    border-right-color: black;
    border-left-color: black;
    font-size: 15px;
    padding: 16px;
}
.wd-main-text{
    margin-right: 200px;
}
.wd-hyperlink-unhighlighted{
    color: rgb(110, 118, 125);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-size: 15px;
    padding: 16px;
}
.wd-image{
    float:right;
    margin-right: 30px;
    width: 550px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    margin-top: 10px;
}
.wd-change-image{
    float:right;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    margin-top: 10px;
}
.wd-check{
    margin: 10px;
}
.wd-topic-style{
    font-size: 13px;
    color: rgb(110, 118, 125);
}
.wd-author-style{
    color: white;
}
.wd-single-topic{
    color:black;
}
.wd-content-border{
    border-width: 3px;
    border-style: solid;
    border-color: gray;
}
.wd-titile{
    color: white;
    font-size: 14px;

}
.wd-who-to-follow{
    font-weight: bold;
    font-size: 20px;
}
.wd-avator{
    border-radius: 50px;
    margin-top: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
}
.wd-botton-margin{
    margin-right: 50px;
}
.wd-xl-font-size{
    font-size: 25px;
}
.wd-xl-search-area{
    border-radius: 50px;
    width: 400px;

}.wd-xl-font-size-bar{
    font-size: 15px;
 }
 .wd-xl-image-text-size{
    font-size: 50px;
     color: white;
 }
 .wd-xl-title{
     font-size: 8px;
     color: rgb(110, 118, 125);
 }
.wd-xl-main-text{
    font-size: 20px;
    margin-right: 200px;
}
.wd-xl-single-topic{
    font-size: 20px;
    color:black;
}
.wd-xl-author-style{
    font-size: 20px;
    color: black;
}
.wd-xl-who-to-follow{
    font-size: 15px;
    color: black;
}
.wd-l-single-topic{
    font-size: 13px;
    color:black;
}